@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
@* Add admin area that allows the user to create various games, load images, word sets, and sounds. *@
@* Game Creation:
    To create a game the user would...
    click a button called "Add New Game"
    Name their game
    select a game type
    set relevant settings for the game type ex: score limit, time limit...
    specify what is being matched. Need to brainstorm how to do this. 
 *@

@* Add admin area that allows the user manage a class of students, see their scores, etc. *@